{% extends 'base.html' %}

{% block content %}
<div class="style-form">
    <form method="post">
        {% csrf_token %}

        {% if form.errors %}
            <p style="color:red">
                لظفا خطاهای زیر را اصلاح کنید
                <br>
            </p>
            {{ form.errors }}

        {% elif orm.management_form %}
            <p style="color:red">
                لظفا خطاهای زیر را اصلاح کنید
                <br>
            </p>
            {{ form.management_form }}

        {% elif form.non_field_errors %}
            <p style="color:red">
                لظفا خطاهای زیر را اصلاح کنید
                <br>
            </p>
            {{ form.non_field_errors }}

        {% elif form.non_form_errors %}
            <p style="color:red">
                لظفا خطاهای زیر را اصلاح کنید
                <br>
            </p>
            {{ form.non_form_errors }}

        {% endif %}


        <h2 class="text-center">Login</h2>
        <div class="form-group">
            <label>
                <input type="text" name="email" class="form-control" placeholder="ایمیل " required="required">
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="password" name="password" class="form-control" placeholder="رمز عبور " required="required">
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">ورود</button>
        </div>
        <div class="clearfix">
            <a href="{% url 'password_reset' %}" class="float-right">پسورد خود را فراموش کرده‌اید؟ </a>
        </div>        
    </form>
    <p class="text-center"><a href="{% url 'account:register' %}"> ساخت اکانت جدید </a></p>
</div>

{% endblock %}