{% extends 'base.html' %}
{% load static %}

{% block title %} GreenWorld {% endblock %}


{% block content %}
<!--  <img src="{% static 'images/img1.jpg' %}" width="927" height="240" alt="" class="ctop" />-->
  <img src="{% static 'images/ProNum1.png' %}" width="927" height="240" alt="" class="ctop" />

  <div class="mainbar">

    <center>
    <div class="article">
      <h2 dir="rtl"> <span>سلام به این سایت خوش آمدید</span></h2>
      <p>نگارش شده توسط: کیارش بروشان
      <p>
      لطفا با موبایل خود تصاویر
      <a href="https://support.google.com/photos/answer/6153599?hl=en&co=GENIE.Platform%3DAndroid">ژئوتگ</a>
      از هر عارضه روی زمین تهیه کنید و در این سایت به اشتراک بگذارید
      <br><br>
      این عوارض شامل: تمامی محصولات کشاورزی، باغ، آفت‌ها، تنش‌ها، خاک، سنگ، منابع معدنی/کانی،
      جنگل‌ها، منابع طبیعی، آتش-زمین‌سوخته-دود، گازهای آلاینده، پسماند و کلا هر آنچه روی سطح زمین می‌باشد
      <br><br>
      از این داده‌های مبتنی بر خرد جمعی برای پردازش تصاویر ماهواره استفاده خواهد شد
      <br><br>
      ویدئو زیر چرايی نیاز به خرد جمعی در پردازش تصاویر ماهواره‌ را به زبان ساده و خلاصه توضیح داده است. خواهشمنداست ملاحظه فرمایید

    </p>

    </div>
    </center>

<!-- video -->
    <style>
      .h_iframe-aparat_embed_frame{position:relative;}
      .h_iframe-aparat_embed_frame
      .ratio{display:block;width:100%;height:auto;}
      .h_iframe-aparat_embed_frame
      iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
    </style>
    <div class="h_iframe-aparat_embed_frame">
    <span style="display: block;padding-top: 57%"></span>
    <iframe src="https://www.aparat.com/video/video/embed/videohash/MnPS6/vt/frame?titleShow=true&muted=true"
            allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">

    </iframe>
    </div>
    <br><br>
    <hr>

    <div class="article">
      <h2><span>Lorem Ipsum</span> Dolor Sit</h2>
      <p>Posted by <a href="#">Owner</a> | Filed under <a href="#">templates</a>, <a href="#">internet</a></p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. <a href="#">Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo.</a> Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna. In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam.</p>
      <p><a href="#">Read more</a> | March 15, 2015</p>
    </div>

  </div>

  <div class="clr"></div>
{% endblock %}