{% extends 'base.html' %}
{% load static %}

{% block title %} GreenWorld {% endblock %}


{% block content %}
<!--  <img src="{% static 'images/img1.jpg' %}" width="927" height="240" alt="" class="ctop" />-->
  <img src="{% static 'images/ProNum1.png' %}" width="927" height="240" alt="" class="ctop" />

  <div class="mainbar">

    <center>
    <div class="article">
      <h2 dir="rtl"> <span>سلام به این سایت خوش آمدید</span></h2>
      <p>نگارش شده توسط: کیارش بروشان
      <p>
      لطفا با موبایل خود تصاویر
      <a href="https://support.google.com/photos/answer/6153599?hl=en&co=GENIE.Platform%3DAndroid">ژئوتگ</a>
      از هر عارضه روی زمین تهیه کنید و در این سایت به اشتراک بگذارید
      <br><br>
      این عوارض شامل: تمامی محصولات کشاورزی، باغ، آفت‌ها، تنش‌ها، خاک، سنگ، منابع معدنی/کانی،
      جنگل‌ها، منابع طبیعی، آتش-زمین‌سوخته-دود، گازهای آلاینده، پسماند و کلا هر آنچه روی سطح زمین می‌باشد
      <br><br>
      از این داده‌های مبتنی بر خرد جمعی برای پردازش تصاویر ماهواره استفاده خواهد شد
      <br><br>
      ویدئو زیر چرايی نیاز به خرد جمعی در پردازش تصاویر ماهواره‌ را به زبان ساده و خلاصه توضیح داده است. خواهشمنداست ملاحظه فرمایید

    </p>

    </div>


<!-- video -->
    <style>
      .h_iframe-aparat_embed_frame{position:relative;}
      .h_iframe-aparat_embed_frame
      .ratio{display:block;width:100%;height:auto;}
      .h_iframe-aparat_embed_frame
      iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
    </style>
    <div class="h_iframe-aparat_embed_frame">
    <span style="display: block;padding-top: 57%"></span>
    <iframe src="https://www.aparat.com/video/video/embed/videohash/MnPS6/vt/frame?titleShow=true&muted=true"
            allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">

    </iframe>
    </div>

    </center>
    <br><br>
    <hr>

<!---->
    <center>
    <div class="article">
      <p> در ویدئو زیر راهنمای کار با سایت توضیح داده شده است </p>

      <!-- video -->
    <style>
      .h_iframe-aparat_embed_frame{position:relative;}
      .h_iframe-aparat_embed_frame
      .ratio{display:block;width:100%;height:auto;}
      .h_iframe-aparat_embed_frame
      iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
    </style>
    <div class="h_iframe-aparat_embed_frame">
    <span style="display: block;padding-top: 57%"></span>
    <iframe src="https://www.aparat.com/video/video/embed/videohash/MnPS6/vt/frame?titleShow=true&muted=true"
            allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">

    </iframe>
    </div>
    </div>
    </center>

     <br><br>
    <hr>
<!--      -->
    <center>
    <br><br>
    <div class="article">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/26/Aaron_Swartz_2_at_Boston_Wikipedia_Meetup%2C_2009-08-18.jpg"
                 width="300" height="200" alt="Aaron Swartz">
        <p>

            این سایت ادای احترامی به آقای
            <a href="https://fa.wikipedia.org/wiki/%D8%A2%D8%B1%D9%88%D9%86_%D8%B3%D9%88%D8%A7%D8%B1%D8%AA%D8%B3">ارن سوارتز</a>
            ملقب به پسر اینترنت دارد که جان عزیز خویش را در راه
            انتشار آزاد اطلاعات از دست داد
            خلاصه‌ای از زندگینامه ایشان را در این
            <a href="https://channelbpodcast.com/archives/9117">پادکست </a>
            بشنوید
        </p>

    </div>
    </center>

     <br><br>
    <hr>

<!--      -->
    <center>
    <div class="article">
        <img src="https://bpluspodcast.com/wp-content/uploads/2024/03/Main.png"
             width="300"
             height="200">
      <p>
          سوالی که مطرح می‌شود این است که چرا با وجود این‌همه استارت‌اپ، شرکت و ارگان دولتی ایرانی مدعی هوش‌مصنوعی،
          تمامی نتایج پشت برچسب محرمانه مخفی می‌شوند و عموم امکان استفاده از آنها را ندارند و یک محصولی شبیه چت‌جی‌پی‌تی
          در حوزه پردازش تصاویر ماهواره با هوش‌مصنوعی در دسترس قرار نمی‌گیرد
          <br>
          شاید جواب این پرسش را بتوان در کتاب « استراتژی توسعه در ایران» جستجو کرد.
          در این کتاب به توضیح مدل «رستا» «روایت سه‌گانه توسعه‌نیافتگی ایران» پرداخته شده است
          <br><br>
          پیشنهاد می‌شود پادکست خلاصه این کتاب را در این
          <a href="https://bpluspodcast.com/podcast/sixth-season/%D8%A7%D8%B3%D8%AA%D8%B1%D8%A7%D8%AA%DA%98%DB%8C-%D8%AA%D9%88%D8%B3%D8%B9%D9%87-%D8%AF%D8%B1-%D8%A7%DB%8C%D8%B1%D8%A7%D9%86/">لینک </a>
          بشنوید
      </p>
    </div>
    </center>

      <br><br>
    <hr>
    <center>
        <br><br>
    <div class="article">
        <img src="https://allvectorlogo.com/img/2021/12/github-logo-vector.png"
             width="300"
             height="200">
      <p>
          در صورت تمایل می‌توانید در تکمیل کدنویسی این سایت مشارکت داشته باشید و
          در صورتی که این سایت بتواند به منافع اقتصادی برسد،
          این منافع بین مشارکت‌کنندگان بر اساس میزان مشارکت تقسیم خواهد شد
          <br>
          <a href="{% static 'images/github.png' %}"> صفحه گیت‌هاب این سایت</a>
          <br>
          همچنین خواهشمنداست از انجام کارهای تکراری خودداری فرمایید
      </p>
    </div>
    </center>

      <br><br>
    <hr>
    <center>
    <div class="article">
        <img src="https://freelogopng.com/images/all_img/1658587303instagram-png.png"
             width="300"
             height="200">
      <p>
          نظرات، انتقادات، پیشنهادات و همراهی خود را در صفحه
          <a href=""> اینستاگرام </a>
          با ما در میان بگذارید
      </p>
    </div>
    </center>


      <br><br>
    <hr>
    <center>
    <div class="article">
        <img src="https://raretraithope.ca/wp-content/uploads/2021/03/donate-button-icon-vector-10629241-e1614889794369-225x225-1.jpg"
             width="300"
             height="200">
      <p>
          جمع‌آوری داده‌های مکانی بسیار زمان‌بر و پرهزینه هستند. برای روشن ماندن چراغ این سایت نیازمند حمایت معنوی و مادی شماست
          در صورت تمایل می‌توانید به این شماره حساب کمک مالی داشته باشید
          <br>
          ۶۰۳۷-۹۹۷۱-۰۲۰۱-۹۲۴۸
          <br>
          به‌نام: کیارش بروشان
      </p>
    </div>
    </center>

  </div>

  <div class="clr"></div>
{% endblock %}