{% extends 'base.html' %}
{% load static %}

{% block title %} GreenWorld {% endblock %}


{% block content %}

    <center>
    <div class="article">
        <img src="{% static 'images/donate.webp' %}"
             width="300"
             height="200">
      <p>
          جمع‌آوری داده‌های مکانی بسیار زمان‌بر و پرهزینه هستند.
          باتوجه به میزان حمایت خردجمعی از حداقل چند سال تا چند ده سال زمان نیاز دارد.
          برای روشن ماندن چراغ این سایت نیازمند حمایت معنوی و مادی شماست
          در صورت تمایل می‌توانید به این شماره حساب کمک مالی داشته باشید
          <br>
          ۶۰۳۷-۹۹۷۱-۰۲۰۱-۹۲۴۸
          <br>
          به‌نام: کیارش بروشان
          <br>
          و یا حداقل با اشتراک‌گذاری این سایت به دیده شدن آن کمک نمایید
      </p>
    </div>
    </center>


  <div class="clr"></div>
{% endblock %}