{% extends 'base.html' %}
{% load static %}

{% block title %} GreenWorld {% endblock %}


{% block content %}

<!--      -->
    <center>
    <br><br>
    <div class="article">
        <img src="{% static 'images/aren.webp' %}"
                 width="300" height="200" alt="Aaron Swartz">
        <p>

            این سایت ادای احترامی به آقای
            <a href="https://fa.wikipedia.org/wiki/%D8%A2%D8%B1%D9%88%D9%86_%D8%B3%D9%88%D8%A7%D8%B1%D8%AA%D8%B3">ارن سوارتز</a>
            ملقب به پسر اینترنت دارد که جان عزیز خویش را در راه
            انتشار آزاد اطلاعات از دست داد
            <br>
            خلاصه‌ای از زندگینامه ایشان را در
            <a href="https://channelbpodcast.com/archives/9117">پادکست چنل‌بی </a>
            بشنوید
        </p>

    </div>
    </center>

     <br><br>
    <hr>

<!--      -->
    <center>
    <div class="article">
        <img src="{% static 'images/toseIran.webp' %}"
             width="300"
             height="200">
      <p>
          سوالی که مطرح می‌شود این است که چرا با وجود این‌همه استارت‌اپ، شرکت و ارگان دولتی ایرانی مدعی هوش‌مصنوعی در پردازش تصاویر ماهواره،
          تمامی نتایج پشت برچسب محرمانه مخفی می‌شوند و عموم امکان استفاده از آنها را ندارند و یک محصولی شبیه چت‌جی‌پی‌تی
          در حوزه پردازش تصاویر ماهواره با هوش‌مصنوعی در دسترس قرار نمی‌گیرد
          <br>
          شاید جواب این پرسش را بتوان در کتاب « استراتژی توسعه در ایران» جستجو کرد.
          در این کتاب به توضیح مدل «رستا» «روایت سه‌گانه توسعه‌نیافتگی ایران» پرداخته شده است
          <br><br>
          پیشنهاد می‌شود خلاصه این کتاب را در
          <a href="https://bpluspodcast.com/podcast/sixth-season/%D8%A7%D8%B3%D8%AA%D8%B1%D8%A7%D8%AA%DA%98%DB%8C-%D8%AA%D9%88%D8%B3%D8%B9%D9%87-%D8%AF%D8%B1-%D8%A7%DB%8C%D8%B1%D8%A7%D9%86/">پادکست بی‌پلاس </a>
          بشنوید
      </p>
    </div>
    </center>


  </div>

  <div class="clr"></div>
{% endblock %}