{% extends 'base_profile.html' %}

{% block content %}
<div class="style-form">
  {% if validlink%}
    <form method="post">
        {% csrf_token %}
        <h2 class="text-center">Change password </h2>
        <div class="form-group">
            <label>
                <input name="new_password1" placeholder="پسورد جدید " type="password" required="true" >
            </label>
        </div>
        <div class="form-group">
            <label>
                <input name="new_password2" placeholder="تکرار پسورد جدید " type="password" required="true" >
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">اعمال تغییرات </button>
        </div>        
    </form>
  {% else %}
    <p>
        لینک ریست پسورد نامعتبر است. لظفا دوباره سعی نمایید.
    </p>
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</div>
{% endblock %}