{% extends 'base_profile.html' %}

{% block content %}
<div class="style-form">
    <form method="post">
        {% csrf_token %}
        <h2 class="text-center">reset password</h2>
        <div class="form-group">
            <label>
                <input name="email" placeholder="آدرس ایمیل " type="email" required="true" >
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">ارسال به ایمیل </button>
        </div>        
    </form>
</div>

{% endblock %}